    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a ui-sref="app">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div id="history" class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Our History</h2>
                <p>Started in 2015, SPICE CASTLE quickly established itself as a culinary icon par excellence in Chicago, IL. With its unique brand of world exotic cuisine that can be found nowhere else.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
                <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
                <div class="well">
                    <blockquote>
                        <p>You better cut the pizza in four pieces because
                            I'm not hungry enough to eat six.</p>
                        <footer>Yogi Berra,  
                        <cite title="Source Title">The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books, 2014</cite></footer>
                    </blockquote>                
                </div>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Facts At a Glance</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Started</dt>
                            <dd>26 Feb. 2015</dd>
                            <dt>Major Stake Holder</dt>
                            <dd>US Foods</dd>
                            <dt>Last Year's Turnover</dt>
                            <dd>$10,000</dd>
                            <dt>Employees</dt>
                            <dd>16</dd>
                       </dl>
                    </div>
                </div>
            </div>
        </div>


        <div id="corporate" class="row row-content">
            <div class="col-xs-12 col-sm-12">
                <h2><b>Corporate Leadership</b></h2>
                
               <ul class="media-list">
				<li class="media" ng-repeat="leader in leaders">
                    <div class="media-left media-middle">
                        <img class="media-object img-thumbnail"
                         ng-src="images/castle.jpg" alt="{{leader.name}}" height="100" width="100">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading"><b>{{leader.name}}</b>&nbsp;<small>{{leader.designation}}</small></h3>
                        <p>{{leader.description}}</p>
                        <p><a class="btn btn-primary btn-xs" ui-sref="app.aboutus">More &raquo;</a></p>
                    </div>
                </li>
               </ul>        
                
            </div>
       </div>
        <div id="facts" class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <h2>Facts &amp; Figures</h2>
                <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <th>
                            2015
                        </th>
                        <th>
                            2016
                        </th>
                        <th>
                            2017
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Employees
                        </th>
                        <td>
                            16
                        </td>
                        <td>
                            22
                        </td>
                        <td>
                            -
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Guests Served
                        </th>
                        <td>
                            10450
                        </td>
                        <td>
                            15500
                        </td>
                        <td>
                            -
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Special Events
                        </th>
                        <td>
                            6
                        </td>
                        <td>
                            29
                        </td>
                        <td>
                            -
                        </td>
                    
                    </tr>
                    <tr>
                        <th>
                            Annual Turnover
                        </th>
                        <td>
                            $10,000
                        </td>
                        <td>
                            $15,600
                        </td>
                        <td>
                            ~
                        </td>
                    
                    </tr>
                </table>
                </div>
            </div>
       </div>
    </div>