
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app"><img src="images/spicy.jpg" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active-eq="active"><a ui-sref="app">
                        <span class="glyphicon glyphicon-home"
                         aria-hidden="true"></span> Home</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.aboutus">
                        <span class="glyphicon glyphicon-info-sign"
                         aria-hidden="true"></span> About</a></li>
                    <li ui-sref-active="active"><a ui-sref="app.menu">
                         <span class="glyphicon glyphicon-list-alt"
                         aria-hidden="true"></span> 
                         Menu</a></li>
                     <li ui-sref-active="active"><a ui-sref="app.contactus">
                     <i class="fa fa-envelope-o"></i> Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="loginButton">
                    <span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>         

        <div id="loginModal" class="modal fade myModal1" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close dismissModal1">&times;</button>
                <h4 class="modal-title">Login </h4>
            </div>
            <div class="modal-body">
             <form class="form-inline" name="loginForm" ng-submit="sendLogin()" novalidate>
                 <div class="row">
                     <div class="col-sm-4">
                            <!--<div class="form-group">
                            <input class="form-control" type="email" placeholder="Email">
                            </div>-->
                            
                         <div class="form-group" ng-class="{ 'has-error has-feedback' : loginForm.emailid.$invalid && !loginForm.emailid.$pristine }">
                            <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email"
                                   ng-model="login.email" required>
                            <span ng-show="loginForm.emailid.$invalid && loginForm.emailid.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            <span ng-show="(loginForm.emailid.$invalid || loginForm.emailid.$error.required) && !loginForm.emailid.$pristine" class="help-block">Enter valid email</span>
                        </div>
                         
                        </div>
                     <div class="col-sm-4 col-sm-offset-1">
                            <div class="form-group" ng-class="{ 'has-error has-feedback' : loginValidate }">
                            <input class="form-control" type="password" name="password" id="password" ng-model="login.password" placeholder="Password" required>
                                <span ng-show="loginValidate" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span ng-show="loginValidate" class="help-block">Invalid password</span>
                            </div>
                         </div>
                     </div>
                 <div class="row">
                     <div class="col-sm-3">
                        <div class="checkbox">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="approve" value="">
                                <span>Remember Me</span>
                            </label>
                        </div>
                         </div>
                     <div class="col-sm-8 col-sm-offset-1">
                        <a class="unstyle">Do not have an account? SignUp here...</a>
                     </div>
                     </div>
                 <div class="row" style="margin-top: 10px">
                     <div class="col-sm-2">
                        <div class="form-group">
                            <button ng-disabled="loginForm.$invalid" class="btn btn-info btn-sm margin-top2" type="submit">Sign In</button>
                         </div>
                     </div>
                     <div class="col-sm-2">
                         <div class="form-group">
                            <button type="button" class="btn btn-default btn-sm margin-top2 dismissModal1">Cancel</button>
                        </div>
                        </div>
                     </div>
             </form>
            </div>
        </div>
        </div>
    </div>
    
    <div id="reserveTableModal" class="modal fade myModal2" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"  style="color:black">
            <div class="modal-header">
                <button type="button" class="close dismissModal2">&times;</button>
                <h4 class="modal-title">Reserve a Table </h4>
            </div>
            <div class="modal-body">
                
                <div class="row">   
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label">Count</label>
                    <div class="col-xs-12 col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="guestCount" value="1"> 1
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="guestCount" value="2"> 2
                        </label>
                         <label class="radio-inline">
                            <input type="radio" name="guestCount" value="3"> 3
                        </label>
                         <label class="radio-inline">
                            <input type="radio" name="guestCount" value="4"> 4
                        </label>
                         <label class="radio-inline">
                            <input type="radio" name="guestCount" value="5"> 5
                        </label>
                         <label class="radio-inline">
                            <input type="radio" name="guestCount" value="6"> 6
                        </label>
                    </div>
                    </div>
                
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 control-label" for="smoke">Section</label>
                    <div class="col-xs-12 col-sm-10">
                <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-success btn-sm active">
    <input type="radio" name="smoking" value="no" id="smoke" checked> Non-Smoking
  </label>
  <label class="btn btn-danger btn-sm">
    <input type="radio" name="smoking" value="yes"> Smoking
  </label>
</div>
                        </div>
                    </div>
                
                 <div class="form-group has-feedback margin-top2">
                        <label class="col-xs-12 col-sm-2 control-label" for="dateTime">When</label>
                        <div class="col-xs-6 col-sm-5">
                            <input type="date" placeholder="Date" class="form-control" id="dateTime">
                            <span class="glyphicon glyphicon-calendar form-control-feedback" aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <input type="time" placeholder="Time" class="form-control">
                            <span class="glyphicon glyphicon-time form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                <div class="col-sm-offset-2">
                    <button class="btn btn-primary move-right1 btn-sm" id="reserve">Reserve</button>
                    <a href="#" class="btn btn-default btn-sm dismissModal2">Cancel</a>
                </div>
            </form>
            <br>
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;                 </span></button>
            <strong>Warning:</strong> Please <a href="tel:+85212345678" class="alert-link">Call</a> us to reserve for more than six guests.
            </div>
        </div>
    </div>
                
            </div>
            </div>
                    </div>
                </div>

    <header class="jumbotron">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-7">
                    <b><i><h1 style="color:#FF3300">SPICE CASTLE</h1></i></b>
                    <p style="padding:40px;"></p>
                    <p style="color: black">We take inspiration from the World's best cuisines, and create
                     a unique food experience.</p>
                </div>
                <div class="col-xs-6 col-sm-2">
                    <a style="margin-top: 135px" type="button" id="reserveTableButton" class="btn btn-warning btn-block">Reserve Table</a>
                </div>
                <div class="col-xs-12 col-sm-3">
                <img src="images/castle.jpg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                </div>
            </div>
        </div>
    </header>

<script>
    
        $(document).ready(function(){
            $("#loginModal").modal({show:false});
            $("#reserveTableModal").modal({show:false});
                $("#loginButton").click(function(){
                    $("#loginModal").modal('show');
            });
                $("#reserveTableButton").click(function(){
                    $("#reserveTableModal").modal('show');
            });
                $(".dismissModal1").click(function(){
                    $(".myModal1").modal('toggle');
            });
            $(".dismissModal2").click(function(){
                    $(".myModal2").modal('toggle');
            });
        });
        
        
    </script>